<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="TuSegurodeViaje.AccesoDatos.Properties.Settings.TuSegurodeViajeConnectionString"
            connectionString="Data Source=NATALIA-PC\;Initial Catalog=TuSegurodeViaje;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>